[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/de-souza/hugo-flex.git
[submodule "themes/hugo-academic"]
	path = themes/hugo-academic
	url = https://github.com/gcushen/hugo-academic.git
